*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.layout{
	width: 1195px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix::after{
        content: '';
        clear: both;
        display: block;
}
html,body{
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", 
	             "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        background-color: #000;
}
.nav a:hover{
	color: #fff;
}
#header{
	height: 100%;
	min-width: 1200px;
	background-image: url(http://wow.nos.netease.com/1/landing/wow/landing_20160831.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.nav{
	margin-top: 50px;
	float: left;
}
.nav>a{
	display: inline-block;
	width: 160px;
	height: 70px;
	line-height: 70px;
	border:  1px solid #301F19;
        color: #F7AB08;
        text-align: center;
        background-image: url(http://wow.nos.netease.com/1/images/landing-legion/bg_nav.jpg);
}
.nav>.logo{
	width: 235px;
	position: relative;
}
.logo>img{
        position: absolute;
        left: 0;
        top: -40px;   
}
#main{
        background-image: url(http://wow.nos.netease.com/1/images/landing-legion/mid-bg.jpg);
        padding-top: 30px;
        padding-bottom: 95px;
}
.main-items{
	display: inline-block;
	width: 290px;
	text-align: center;
	margin-right: 5px;
}
.main-items>a{
	display: block;
	color: #F7AB08;
	transition: all 0.5s;
}
.main-items-headline{
	font-size: 17px;
	height: 70px;
        line-height: 70px;    
        background-color: #251812;
}
.main-items-img{
	border-top: 1px solid #674512;
	border-bottom: 1px solid #674512;
}
.main-items:hover a{
	transform: translateY(-10px);
	color: #fff;
}
.ct{
	padding-right: 95px;
	padding-left: 95px;
	padding-bottom: 60px;
}
.about-us{
        background-color: #ccc;
        padding-top: 50px;
        background-color: #000;
        float: left;
}
.contact-us{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 100px;
}
.contact-us>a{
	margin-right: 40px;
	color: #ccc;
}
.contact-us>a:hover{
        color: #fff;
}
.contact-us .service{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	background-image:url(http://hearthstone.nos.netease.com/3/common/f-business_20160608.png);
	background-repeat: no-repeat;
	background-position: -5px -7px;
	vertical-align: middle;
}
.contact-us .feedback{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	background-image:url(http://hearthstone.nos.netease.com/3/common/f-business_20160608.png);
	background-repeat: no-repeat;
	background-position: -32px -8px;
	vertical-align: middle;
}
.contact-us .join-us{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	background-image:url(http://hearthstone.nos.netease.com/3/common/f-business_20160608.png);
	background-repeat: no-repeat;
	background-position: -5px -33px;
	vertical-align: middle;
}
.logo-game{
	position: relative;
}
.logo-netease{
        position: absolute;
        top: 38px;
        margin-left: 30px;
}
.cooperation{
	margin-left: 371px;
	color: #fff;
	padding-top: 50px;
}
.cooperation-brand{
	text-align: right;
	font-size: 14px;
	margin-bottom: 100px;
}
.cooperation-brand a:nth-child(1){
        display: inline-block;
        width: 35px;
        height: 20px;
        background-image: url(http://diablo3.nos.netease.com/1/common/business-logo-wow.png);
        background-repeat: no-repeat;
        background-position: 0 -3px;
        vertical-align: middle;
        margin-right: 10px;
}
.cooperation-brand a:nth-child(2){
        display: inline-block;
        width: 95px;
        height: 20px;
        background-image: url(http://diablo3.nos.netease.com/1/common/business-logo-wow.png);
        background-repeat: no-repeat;
        background-position: -38px -3px;
        vertical-align: middle;
        margin-right: 15px;
}
.cooperation-brand a:nth-child(3){
	display: inline-block;
	line-height: 14px;
        padding-left: 2px;
        padding-right: 2px;
	color: #ac771f;
	background-color: #241101;
	vertical-align: middle;
	border: 1px solid #2d1702;
}
.cooperation-brand a:nth-child(3):hover{
	color: #fff;
}
.clause li{
        display: inline-block;
        padding-right: 5px;
        line-height: 40px;
}
.clause li>a{
	color: #aaa;
	font-size: 14px;
}
.clause li>a:hover{
	color: #fff;
}
.clause-border{
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding-left: 10px;
	padding-right: 10px;
}
.clause p{
	font-size: 12px;
	color: #555;
	line-height: 20px;
}
.clause p>a{
	color: #555;
}
.clause p>a:hover{
	color: #888;
}
.sgs-icon{
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	margin-right: 15px;
}
#footer{
	border-top: 1px solid #555;
	font-size: 12px;
	line-height: 20px;
	color: #555;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 50px;
}
@font-face {
        font-family: 'iconfont-more';  /* project id 208878 */
        src: url('http://at.alicdn.com/t/font_8l4mrha4rdzbmx6r.eot');
        src: url('http://at.alicdn.com/t/font_8l4mrha4rdzbmx6r.eot?#iefix') format('embedded-opentype'),
        url('http://at.alicdn.com/t/font_8l4mrha4rdzbmx6r.woff') format('woff'),
        url('http://at.alicdn.com/t/font_8l4mrha4rdzbmx6r.ttf') format('truetype'),
        url('http://at.alicdn.com/t/font_8l4mrha4rdzbmx6r.svg#iconfont') format('svg');
}
.iconfont-more{
	font-family: "iconfont-more" !important;
	font-style:normal;
	font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
}
