
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489333367160'); /* IE9*/
  src: url('iconfont.eot?t=1489333367160#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489333367160') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489333367160') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489333367160#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before { content: "\f0008"; }

.icon-bofang:before { content: "\f0013"; }

.icon-ttpodicon:before { content: "\e639"; }

.icon-ttpodicon1:before { content: "\e63a"; }

.icon-yl:before { content: "\e60b"; }

.icon-bofang1:before { content: "\e628"; }

.icon-17:before { content: "\f00bc"; }

.icon-diaozhenggeci:before { content: "\e62b"; }

.icon-shunxubofang:before { content: "\e67b"; }

.icon-tubiao2yinlediantai:before { content: "\e6be"; }

.icon-zanting:before { content: "\e696"; }

.icon-suijibofang:before { content: "\e629"; }

.icon-pause:before { content: "\e602"; }

.icon-diaozhenggeci1:before { content: "\e758"; }

.icon-shangyiqu:before { content: "\e622"; }

.icon-xiayiqu:before { content: "\e623"; }

.icon-liebiaoxunhuan:before { content: "\e6f2"; }

.icon-yinliang:before { content: "\e899"; }

.icon-iconfontbiaozhunmoban01:before { content: "\e612"; }

.icon-tubiao2yinlediantai1:before { content: "\e71b"; }

.icon-music:before { content: "\e641"; }

.icon-jingyin:before { content: "\e6e6"; }

.icon-rectangle1:before { content: "\e63b"; }

.icon-shangyiqu101:before { content: "\e6e1"; }

.icon-xiayiqu101:before { content: "\e718"; }

.icon-banquan:before { content: "\e6d5"; }

.icon-jingyin1:before { content: "\e7dc"; }

.icon-bofang2:before { content: "\e6a5"; }

.icon-xiai:before { content: "\e661"; }

.icon-bofang3:before { content: "\e615"; }

.icon-xiayiqu1:before { content: "\e61d"; }

.icon-yinle:before { content: "\e608"; }

.icon-singlecycle:before { content: "\e6af"; }

.icon-xiai1:before { content: "\e501"; }

.icon-ic_copyright_px:before { content: "\e8b9"; }

