body {
	width: 500px;
	height: 450px;
	margin: 0 auto;
	text-align: center;
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
}
div#text {
	padding: 50px;
}
h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*p {
	height: 50px;
	overflow: hidden;
}*/
p {
	width:400px;         /* 搜索自网上的方法 */
	height:36px;         /* position可能是定位的意思，目前没有100%弄懂 */
	overflow:hidden;     /* 我的理解：规定宽高，在结尾定位省略号进行遮挡 */
	position:relative;
}
p::after {
	content: "……"; 
	bottom:0;			 /*这里不懂为何直接用bottom*/
	right:0;			 /*这里不懂为何直接用right*/
	position: absolute;
	background-color:#fff;     /* 搜索自网上的方法 */
}